<section id="about" class="about section-bg">
  {% load static %}

    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Apropos de Nous</h2>
        <!-- <h3>Trouver plus d'information <span>Apropos de nous :</span></h3> -->
        </div>

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column " data-aos="fade-up" data-aos-delay="100">
          <h3>Le Groupe TASS AVIATION.</h3>
          {% comment %} <img src="{% static 'assets/img/avion.jpg' %}" class="img-fluid" alt="">  {% endcomment %}
          
          <p class="fst-italic">
            Le Groupe TASS AVIATION est une société de droit tchadien créée le 30 Mai 2022, elle s’inscrit principalement dans le domaine de la gestion 
              efficiente et efficace des aérodromes privés. C’est une société à responsabilité limité (SARL) opérant au Tchad.
            </p>
            <img src="{% static 'assets/img/avionPro.jpg' %}" class="img-fluid" alt="">
  
{% comment %}           
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
              </div>
            </li>
          </ul> {% endcomment %}
          {% comment %} <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p> {% endcomment %}
        </div>
         <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/formulaire.jpeg' %}" class="img-fluid" alt="">
          </div>
      </div>

    </div>
  </section>