<section id="services" class="services bg-light">
  {% load static %}

    <div class="container" data-aos="fade-up">

        <h2 class="h2 text-center">Nos Services</h2>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div > <img src="{% static 'assets/img/incendie.jpeg' %}" class="img-fluid" alt=""/> </div>
            <h4><a href="">**********</a></h4>
            <p>La protection et la lutte contre les incendies des avions et des 
              bâtiments </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class=""><img src="{% static 'assets/img/securite.jpeg' %}" class="img-fluid" alt=""/></div>
            <h4><a href="">**********</a></h4>
            <p> La protection de l’Aviation Civile Internationale contre les actes 
              illicites </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class=""><img src="{% static 'assets/img/avionDecoler.jpg' %}" class="img-fluid" alt=""/></div>
            <h4><a href="">**********</a></h4>
            <p>La protection des avions contre le risque animalier au décollage et 
              à l’atterrissage </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">**********</a></h4>
            <p>La gestion des risques d’incursion d’animaux </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class=""><img src="{% static 'assets/img/traficAir.png' %}" class="img-fluid" alt=""/></div>
            <h4><a href="">**********</a></h4>
            <p>La gestion de la sécurité sur l’aire de trafic </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">**********</a></h4>
            <p>L’enlèvement d’aéronefs accidentellement immobilisés </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class=""><img src="{% static 'assets/img/aerondrom.jpeg' %}" class="img-fluid" alt=""/></div>

            <h4><a href="">**********</a></h4>
            <p> Le contrôle des obstacles  et des véhicules côté piste </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">**********</a></h4>
            <p>Le management Qualité, Environnemental, Sécurité et Santé au Travail.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">**********</a></h4>
            <p> L’information aéronautique, l’assistance locale et
              La mise en œuvre du plan d’urgence </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class=""><img src="{% static 'assets/img/escal.png' %}" class="img-fluid" alt=""/></div>

            <h4><a href="">**********</a></h4>
            <p>La manutention de marchandises dangereuses et Les services d’assistance en escale 
</p>
          </div>
        </div>

      </div>

    </div>
  </section>